---
interface Props {
  name: string;
  description: string;
  price: number;
  image: string;
}

const { name, description, price, image } = Astro.props;
---

<div class="bg-gray-800 rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300 flex items-center">
  <img class="w-32 h-32 object-cover flex-shrink-0" src={image} alt={name} />
  <div class="p-4 flex-grow">
    <div class="flex justify-between items-baseline">
      <h3 class="font-bold text-lg text-white">{name}</h3>
      <div class="text-white font-bold text-lg ml-4">${price.toFixed(2)}</div>
    </div>
    <p class="text-gray-300 text-sm mt-1">
      {description}
    </p>
  </div>
</div>
